---
name: Render All Badges

"on":
  workflow_dispatch:

permissions: write-all

jobs:
  badgesort:
    name: Run BadgeSort
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 1
      - name: All Badges
        uses: ./
        with:
          output: BADGES.md
          random: -1
      - name: Commit and push
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        with:
          default_author: github_actions
          message: 'chore(docs): refresh badgesort'
